<style>
html {min-width:320px!important}
h6 {font-size:2rem!important}

#nav-mobile>li>a {color:#fff!important}
#content p {font-size:1.5rem!important}

/* image gallery */
.gallery-span {display:inline-block}
.clients .gallery-img {max-width:192px!important;padding-left:1rem;padding-right:1rem;padding-top:1rem}
.gallery-img {max-width:128px!important;padding-left:1rem;padding-right:1rem;padding-top:1rem}
.gallery-img {filter:opacity(75%)}

/* color effects */
#content h2 {filter:drop-shadow(2px 2px 2px orange)}
#content h3,#content h4,#content h5,#content h6 {filter:drop-shadow(2px 2px 2px #ccc)}

/* tooltip fix */
{{^admin_group_admin}}
.material-tooltip {margin-top:-50px!important;background-color:#fff;color:#000;font-weight:bold;border:1px solid #000;border-radius:3px}
{{/admin_group_admin}}

</style>
