{{>html_header}}

<div id=content class="container">

  <div class="section">
    <div class="row center">
      <div class="section no-pad-bot" id="index-banner">
        <div class="row">
          <h1 class="header center orange-text">{{ l.title }}</h1>

          {{#langcs}}
          <div class="row center"><a class="btn bold orange" href="https://status.gscloud.cz">STAV NAŠICH SLUŽEB</a></div>
          {{/langcs}}

          {{#langen}}
          <div class="row center"><a class="btn bold orange" href="https://status.gscloud.cz">SERVICES STATUS</a></div>
          {{/langen}}

          <div class="row center">
            <img src="{{ cdn }}/img/gscloud-logo.png" width=128 alt="GS Cloud Ltd.">
          </div>

          <h2
            class="header center orange-text motto"
            data-admin-tooltip="motto"
            >{{ l.motto }}</h2>
          <div class="row center">
            <img src="{{ cdn }}/img/gscloud.png" height=64 alt="{{ l.title }}">
          </div>

          <h5
            class="header center blue-text bold"
            data-admin-tooltip="about"
            >{{ l.about }}</h5>

          <h5
            style="margin-top:2em"
            class="header center grey-text"
            data-admin-tooltip="title_news"
            >{{ l.title_news }}</h5>
          <p
            class="row center main news"
            data-admin-tooltip="news"
            >{{ l.news }}
          </p>

          <h5
            style="margin-top:2em"
            class="header center grey-text"
            data-admin-tooltip="title_apps"
            >{{ l.title_apps }}</h5>
          <p
            class="row center main apps"
            data-admin-tooltip="apps"
            >{{ l.apps }}
          </p>

          <h6
            style="margin-top:2em"
            class="header center bold orange-text"
            data-admin-tooltip="title_clients"
            >{{ l.title_clients }}</h6>
          <div
            class="row center clients"
            data-admin-tooltip="clients"
            >{{ l.clients }}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

{{#admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        if (!w.GSC.touch) return true;
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // hover the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          $(w.GSC.elfp).mouseover();
        }
        return false;
      };
{{/admin_group_admin}}
{{^admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // click the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          if ($(w.GSC.elfp).data('tooltip')) {
            $(w.GSC.elfp).mouseover();
          } else {
            $(w.GSC.elfp).click();
          } 
        }
        return false;
      };
{{/admin_group_admin}}

    w.GSC.init.push(function () {
      w.GSC.names.push("modify Lightbox2 elements");
      $('.gallery-container>a').removeAttr('href');
      $('.gallery-img').addClass('tooltipped');
      $('.gallery-img').tooltip();
    });

    }
  })(window, document);
</script>

{{>html_footer}}
